@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(17, 24, 39);
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(73, 89, 124);
    border-radius: 100px;
    transform: scale(0.85)
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .search-results {
    border-radius: 4px;
  }
  .search-results ul li {
    border-bottom: 1px solid rgb(55, 65, 81);
  }
  .search-results ul li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .search-results ul li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: transparent !important;
  }